<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
  </head>
  <body>
    <nav>
      <a href="{{ url_for('data') }}">Data</a>
      {% if g.user %}
        <span>Welcome {{ g.user['username'] }}!</span>
        <a href="{{ url_for('auth.logout') }}">Log Out</a>
      {% else %}
        <a href="{{ url_for('auth.register') }}">Register</a>
        <a href="{{ url_for('auth.login') }}">Log In</a>
      {% endif %}
    </nav>
    <header>
      {% block header%}{% endblock %}
    </header>
    <main>
      {% block main%}{% endblock %}
    </main>
    <footer>
      {% block footer%}{% endblock %}
    </footer>
  </body>
</html>